<!DOCTYPE html>
<html>
  <head>
    <title>Bookers</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <main>
      <% flash.each do |message_type, message| %>
<<<<<<< HEAD
        <div class="flash-message <%= message_type %>">
          <%= message %>
        </div>
=======
          <div class="flash-message <%= message_type %>">
              <%= message %>
          </div>
>>>>>>> 9254917476d2a73873e91a2f68fd644b4a2ffc8a
      <% end %>
      <%= yield %>
    </main>
  </body>
</html>
